@import 'src/_variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-width: $todo-list-height;
  min-height: $todo-list-height;
  cursor: pointer;
  outline: 3px solid #292d3d !important;
}

.button__icon {
  max-width: 24px;
}